
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title MANHQUYNH
    link(
      href="/assets/images/favicon.svg"
      rel="icon" 
      type="image/svg+xml"
    )
    link(
      href="/assets/images/favicon.svg"
      rel="apple-touch-icon"
    )
  
    meta(
      content="Khám phá nội thất thiết kế đương đại mang đến cảm giác thoải mái, sang trọng. Cá nhân hoá trong từng sản phẩm phù hợp với mọi không gian sống." 
      name="description"
      )
    link(
      href="https://fonts.googleapis.com" 
      rel="preconnect"
      )
    link(
      crossorigin="" 
      href="https://fonts.gstatic.com" 
      rel="preconnect"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&subset=vietnamese&display=swap"
      )
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    )
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(href="/assets/css/style.css" rel="stylesheet")
    link(href="/assets/css/responsive.css" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/filepond@^4/dist/filepond.css")
    link(rel="stylesheet", href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css")
    block head
  body
    - if (messages.success)
      div(class="alert alert-success" alert-time="3000")
        span #{messages.success}

    - if (messages.error)
      div(class="alert alert-error" alert-time="3000")
        span #{messages.error}

    include ../partials/header.pug

    block content

    include ../partials/footer.pug
    include ../partials/chat-ai.pug
    
    script(src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js") 
    script(src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js") 
    script(src="https://unpkg.com/filepond@^4/dist/filepond.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/just-validate@4.3.0/dist/just-validate.production.min.js")
    script(src="/assets/js/script.js")
